/* Set box-sizing and scroll-behavior for all elements */
*,
*:after,
*:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Set margins, padding, and font-weight to 0 for various elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
/* Remove list-style from all unordered and ordered lists */
ol,
ul {
  list-style: none;
}
/* Set text-rendering, line-height, and font-family for the body */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "ItalianPlateNo2-Regular", sans-serif;
}
/* Set max-width and display to block for all images and picture elements */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Set the base font-size using the :root pseudo-class */
:root {
  font-size: 16px;
}
/* Define font-faces for various custom fonts */
@font-face {
  font-family: "ItalianPlateNo2-Black";
  src: url("fonts/ItalianPlateNo2-Black.otf") format("opentype");
}
@font-face {
  font-family: "ItalianPlateNo2-Demibold";
  src: url("fonts/ItalianPlateNo2-Demibold.otf") format("opentype");
}
@font-face {
  font-family: "ItalianPlateNo2-Regular";
  src: url("fonts/ItalianPlateNo2-Regular.otf") format("opentype");
}
@font-face {
  font-family: "IItalianPlateNo4-Black";
  src: url("fonts/ItalianPlateNo4-Black.otf") format("opentype");
}
@font-face {
  font-family: "ItalianPlateNo4Display-Bold";
  src: url("fonts/ItalianPlateNo4Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: "ItalianPlateNo4-Regular";
  src: url("fonts/ItalianPlateNo4-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ItalianPlateNo4Display-Medium";
  src: url("fonts/ItalianPlateNo4Display-Medium.otf")
    format("embedded-opentype");
}
/* Styling for the header section */
header {
  height: 100vh;
  background-image: url(images/vivian-side-cake.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: "ItalianPlateNo4Display-Medium";
  color: #ccc;
  text-transform: uppercase;
}
/* Styling for the menu navigation container */
.menu-nav-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 50;
  background-color: #0000008f;
  padding: 0 2rem;
  border-radius: 20px;
}
/* Styling for the menu navigation */
.menu-nav {
  text-align: right;
}
/* Styling for links in the menu navigation */
.menu-nav a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}
/* Styling for links in the menu navigation when hovered over */
.menu-nav a:hover {
  color: #ed9716;
}

.menu-nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed9716;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.menu-nav a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/* Styling for the nth child of the fourth li element in the navigation list */
nav ul li:nth-child(4) {
  color: #ed9716;
}

section span {
  color: #ed9716;
}

h1 {
  font-family: "ItalianPlateNo2-Demibold";
  font-size: 2.25rem;
}

.mid_logo {
  display: inline-block;
  padding-top: 4.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 5%;
  gap: 2rem;
}

body {
  margin: 0rem;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5rem solid transparent;
  background-clip: padding-box;
  animation: border-animation 5s infinite;
}

@keyframes border-animation {
  0% {
    box-shadow: 0 0 0 0 #f7b267;
  }
  50% {
    box-shadow: 0 0 0 10px #f7b267;
  }
  100% {
    box-shadow: 0 0 0 0 #f7b267;
  }
}

.about_content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.about_content img {
  object-fit: contain;
  object-position: center;
  width: 90%;
  max-width: 400px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  width: 90%;
  max-width: 500px;
  font-size: 1.0625rem;
  font-family: "ItalianPlateNo2-Regular";
}

.form_section img {
  box-shadow: -4px 4px 10px 1px #906f57;
}

#dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#image-track {
  display: flex;
  user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  gap: 2rem;
  align-items: start;
}

.client {
  display: grid;
  justify-items: center;
  column-gap: 1rem;
  row-gap: 0.3rem;
}

.client p {
  padding: 1rem;
  width: 100%;
  font-family: "ItalianPlateNo2-Regular";
}

strong {
  font-size: 1.375rem;
}

/* ---------------------------------------------------- */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 31.25rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.form label {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-bottom-color: #64c2a6;
}

.form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.625rem;
  background-color: #64c2a6;
  color: white;
  border: none;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background-color: #4da185;
}

.form_section img {
  width: 40%;
}

/* ------------------------------------------------------- */
footer {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
  align-items: center;
  bottom: 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.mid {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
}

.mid img {
  width: 40%;
}

.right {
  display: flex;
  gap: 0.5rem;
}

/* ---------------------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 50px 50px;
  /* color: #fff; */
  font-size: 24px;
  gap: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 5px 20px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.menu-toggle {
  display: none;
}

footer p {
  font-family: "ItalianPlateNo2-Regular";
}

@media screen and (max-width: 810px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 20px 0 0 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav li {
    margin: 10px 0;
  }

  nav ul li a {
    text-decoration: none;
    color: inherit;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 100;
  }

  .menu-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: #333;
    overflow-y: auto;
    padding-top: 30px;
  }

  .menu-nav-active {
    display: flex;
    right: 0;
  }

  .mid_logo {
    width: 40%;
    padding-top: 4rem;
  }

  .about_content {
    flex-direction: column;
  }
  .about_content img {
    width: 90%;
    margin-top: 2rem;
  }
  .text {
    width: 90%;
    padding-bottom: 2rem;
  }

  #contact h1 {
    font-size: 32px;
  }
  .form_section {
    flex-direction: column;
    gap: 0.5rem;
  }

  .form_section img {
    width: 77%;
  }

  .mid {
    width: 30%;
    text-align: center;
  }

  .right {
    justify-content: center;
  }

  .clients {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .menu-nav-active {
    color: #ed9716;
    background-color: #000000ba;
    border-radius: 15px;
  }
  .menu-toggle {
    color: #ed9716;
    font-size: 55px;
  }

  .clients {
    gap: 3rem;
  }
}

@media screen and (max-width: 428px) {
  nav {
    padding: 20px 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: inherit;
  }

  header .mid-log {
    padding-top: 3rem;
  }

  header {
    background-image: url(images/hero_bg_small.jpg);
  }

  .container {
    margin: 0;
  }

  .clients {
    display: flex;
    flex-direction: column;
  }

  #contact h1 {
    text-align: center;
  }

  footer {
    flex-direction: column;
    margin: 2rem 0 2rem 0;
    gap: 2rem;
    text-align: center;
  }

  .mid img {
    width: 100%;
  }
  .right {
    justify-content: center;
  }
  .menu-nav-active {
    color: #ed9716;
    background-color: #000000ba;
    border-radius: 15px;
  }

  .menu-toggle {
    color: #ed9716;
    font-size: 55px;
    background-color: #000000ba;
    border-radius: 15px;
  }
}

/* Switch styles */
.switch {
  position: fixed;
  top: 100px;
  right: 15px;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 100;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000008f;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ed9716;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Round sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dark-mode #contact-form div label {
  color: #121212;
  box-shadow: 0px 2px 10px rgba(249, 229, 229, 0.1);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #f0f0f0;
}

/* .dark-mode a {
  color: #6cb8ff;
} */
